# stellar
HORIZON_URL=https://horizon.stellar.org
RPC_URL=https://soroban-rpc.mainnet.stellar.gateway.fm

# openzeppelin relayer
RELAYER_URL=https://channels.openzeppelin.com
RELAYER_API_KEY=

# gateway channel accounts
GATEWAY_CHANNEL_ACCOUNTS= # [Acc1, Acc2, Acc3]

# kale settings
KALE_ASSET=KALE:GBDVX4VELCDSQ54KQJYTNHXAHFLBCA77ZY2USQBM4CSHTTV7DME7KALE
KALE_SAC=CB23WRDQWGSP6YPMY4UV5C4OW5CBTXKYN3XEATG7KJEZCXMJBYEHOUOV
KALE_CONTRACT=CDL74RF5BLYR2YBLCCI7F5FB6TPSCLKEJUBSD2RSVWZ4YHF3VMFAIGWA
KALE_TRACTOR_CONTRACT=CBGSBKYMYO6OMGHQXXNOBRGVUDFUDVC2XLC3SXON5R2SNXILR7XCKKY3
# ben settings
BEN_KALE_VAULT=GDXWIA4VF3GW2R5OSVIROD47W6AQHE33DSEG6TF7YZD3DYOVU54MYBEN
BEN_SUBSCRIPTIONS=GCXCIWH5OS7GJYSFJOWHB3PRBRER3A66O24EKK75MU3QMVQEEN7MYBEN

# secrets
HARVESTER_SECRET=
AUET_TEST_SECRET=

# harvester config
MAX_PAILS_PER_HARVEST=20

# deno
TEST_SECRET=ITWORKS
